.dashboard {
  padding: 20px;
  // background-color: #f5f7fa;
  font-family: Cairo, Tahoma, Geneva, Verdana, sans-serif;
  color: #333;

  &-title {
    text-align: center;
    font-size: 1.8rem;
    color: #633c84;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
  }

  .dashboard-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 25px;
  }

  .stats-card {
    background: #fff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;

      h3 {
        margin: 0;
        font-size: 1.4rem;
        color: #633c84;
      }

      .current-month,
      .current-year {
        background: #633c84;
        padding: 5px 15px;
        border-radius: 20px;
        font-weight: 600;
        color: white;
      }
    }

    .stats-summary {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 15px;
      margin-bottom: 25px;

      .stat-item {
        text-align: center;
        flex: 1 1 200px;
        background: #d5bee7;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

        .stat-label {
          font-size: 0.95rem;
          font-weight: bold;
          color: #633c84;
          margin-bottom: 8px;
        }

        .stat-value {
          font-size: 1.8rem;
          font-weight: bold;

          &.primary {
            color: #633c84;
          }

          // موف ملكي
          &.success {
            color: #4caf50;
          }

          // أخضر متوازن
          &.warning {
            color: #f4b400;
          }

          // ذهبي تحذيري
          &.danger {
            color: #d32f2f;
          }

          // أحمر أنيق
          &.muted {
            color: #7e6cb2;
          }
        }
      }
    }

    .chart-container {
      height: 280px;
      position: relative;
      margin-top: auto;
    }
  }
}