<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-4">
      <div class="card shadow mt-5 mb-5">
        <div class="card-body p-3">
          <div class="text-center mb-3">
            <img
              src="images/doctorImage.png"
              alt="Logo"
              class="rounded-circle border border-light border-2 object-fit-cover"
              width="80"
              height="80"
            />
          </div>
          <h3 class="text-center mb-4" style="color: rgb(157, 77, 232)">
            تسجيل دكتور جديد
          </h3>
          <p class="text-center text-muted mb-4">انضم إلينا اليوم وابدأ</p>
          <form
            [formGroup]="registerForm"
            (ngSubmit)="registerSubmit()"
            class="p-4"
          >
            <!-- الاسم -->
            <div class="mb-2">
              <label for="name" class="form-label">الاسم</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control form-input"
              />
              @if (registerForm.get('name')?.touched &&
              registerForm.get('name')?.invalid) {
              <div class="form-error">
                @if (registerForm.get('name')?.errors?.['required']) {
                <span>الاسم مطلوب</span>
                } @if (registerForm.get('name')?.errors?.['pattern']) {
                <span>الاسم يجب أن يحتوي على حروف فقط</span>
                }
              </div>
              }
            </div>

            <!-- البريد الإلكتروني -->
            <div class="mb-2">
              <label for="email" class="form-label">البريد الإلكتروني</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control form-input"
              />
              @if (registerForm.get('email')?.touched &&
              registerForm.get('email')?.invalid) {
              <div class="form-error">
                @if (registerForm.get('email')?.errors?.['required']) {
                <span>البريد الإلكتروني مطلوب</span>
                } @if (registerForm.get('email')?.errors?.['email']) {
                <span>صيغة البريد الإلكتروني غير صحيحة</span>
                }
              </div>
              }
            </div>

            <!-- كلمة المرور -->
            <div class="mb-2">
              <label for="password" class="form-label">كلمة المرور</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control form-input"
              />
              @if (registerForm.get('password')?.touched &&
              registerForm.get('password')?.invalid) {
              <div class="form-error">
                @if (registerForm.get('password')?.errors?.['required']) {
                <span>كلمة المرور مطلوبة</span>
                } @if (registerForm.get('password')?.errors?.['minlength']) {
                <span>يجب أن تكون كلمة المرور 8 أحرف على الأقل</span>
                } @if (registerForm.get('password')?.errors?.['pattern']) {
                <span
                  >كلمة المرور يجب أن تحتوي على حرف كبير، رقم، ورمز خاص</span
                >
                }
              </div>
              }
            </div>

            <!-- الهاتف -->
            <div class="mb-2">
              <label for="phone" class="form-label">رقم الهاتف</label>
              <input
                type="text"
                id="phone"
                formControlName="phone"
                class="form-control form-input"
              />
              @if (registerForm.get('phone')?.touched &&
              registerForm.get('phone')?.invalid) {
              <div class="form-error">
                @if (registerForm.get('phone')?.errors?.['required']) {
                <span>رقم الهاتف مطلوب</span>
                } @if (registerForm.get('phone')?.errors?.['pattern']) {
                <span>رقم الهاتف غير صحيح</span>
                }
              </div>
              }
            </div>
            <!-- تاريخ الميلاد -->
            <div class="mb-2">
              <label for="dateOfBirth" class="form-label">تاريخ الميلاد</label>
              <input
                type="date"
                id="dateOfBirth"
                formControlName="dateOfBirth"
                class="form-control form-input"
              />
              @if (registerForm.get('dateOfBirth')?.touched &&
              registerForm.get('dateOfBirth')?.invalid) {
              <div class="form-error">
                <span>تاريخ الميلاد مطلوب</span>
              </div>
              }
            </div>

            <!-- الرخصة -->
            <div class="mb-2">
              <label for="licenceNumber" class="form-label"
                >رقم الرخصة الطبية</label
              >
              <input
                type="text"
                id="licenceNumber"
                formControlName="licenceNumber"
                class="form-control form-input"
              />
              @if (registerForm.get('licenceNumber')?.touched &&
              registerForm.get('licenceNumber')?.invalid) {
              <div class="form-error">
                <span>رقم الرخصة الطبية مطلوب</span>
              </div>
              }
            </div>

            <!-- التخصص -->
            <div class="mb-2">
              <label for="specializationId" class="form-label">التخصص</label>
              <input
                type="number"
                id="specializationId"
                formControlName="specializationId"
                class="form-control form-input"
              />
              @if (registerForm.get('specializationId')?.touched &&
              registerForm.get('specializationId')?.invalid) {
              <div class="form-error">
                <span>التخصص مطلوب</span>
              </div>
              }
            </div>

            <!-- السعر -->
            <div class="mb-2">
              <label for="bookingPrice" class="form-label">سعر الكشف</label>
              <input
                type="number"
                id="bookingPrice"
                formControlName="bookingPrice"
                class="form-control form-input"
              />
              @if (registerForm.get('bookingPrice')?.touched &&
              registerForm.get('bookingPrice')?.invalid) {
              <div class="form-error">
                <span>سعر الكشف مطلوب</span>
              </div>
              }
            </div>

            <!-- الصورة -->
            <div class="mb-2">
              <label for="imageUrl" class="form-label">الصورة</label>
              <input
                type="text"
                id="imageUrl"
                formControlName="imageUrl"
                class="form-control form-input"
              />
              @if (registerForm.get('imageUrl')?.touched &&
              registerForm.get('imageUrl')?.invalid) {
              <div class="form-error">
                <span>الصورة مطلوبة</span>
              </div>
              }
            </div>

            <!-- العنوان -->
            <div class="mb-2">
              <label for="address" class="form-label">العنوان</label>
              <input
                type="text"
                id="address"
                formControlName="address"
                class="form-control form-input"
              />
              @if (registerForm.get('address')?.touched &&
              registerForm.get('address')?.invalid) {
              <div class="form-error">
                <span>العنوان مطلوب</span>
              </div>
              }
            </div>
            
            <div class="mb-4">
              <label class="form-label d-block">النوع</label>
              <div class="d-flex gap-3">
                <!-- Male Button -->
                <button
                  type="button"
                  class="btn male-button flex-grow-1 align-items-center py-1"
                  [class.active]="registerForm.get('gender')?.value === 0"
                  (click)="registerForm.get('gender')?.setValue(0)"
                >
                  <i
                    class="fa-solid fa-person m-2 fa-xl"
                    style="color: #3b82f6"
                  ></i>
                  <span>ذكر</span>
                </button>

                <!-- Female Button -->
                <button
                  type="button"
                  class="btn female-button flex-grow-1 align-items-center py-1"
                  [class.active]="registerForm.get('gender')?.value === 1"
                  (click)="registerForm.get('gender')?.setValue(1)"
                >
                  <i
                    class="fa-solid fa-person-dress m-2 fa-xl"
                    style="color: #b197fc"
                  ></i>
                  <span>أنثى</span>
                </button>
              </div>

              @if (registerForm.get('gender')?.touched &&
              registerForm.get('gender')?.invalid) {
              <div class="text-danger mt-2">النوع مطلوب</div>
              }
            </div>

            <!-- زر التسجيل -->
            <button
              type="submit"
              class="btn gradient-button text-white w-100 py-2 border-0"
            >
              تسجيل
            </button>
          </form>
          <p class="text-center mt-2">
            هل لديك حساب بالفعل؟
            <a routerLink="/auth/login" style="color: rgb(147 51 234)"
              >تسجيل الدخول</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
