/* You can add global styles to this file, and also import other style files */
/* Global imports */
@import "bootstrap/dist/css/bootstrap.min.css";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Theme variables */
:root {
  --bg-color: hsl(40 40% 98%);
  --text-color: #000000;
  --primary-color: hsl(217, 91%, 60%);
}

/* Base styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Cairo', Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  background-image: url('/images/background.png');
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
  box-sizing: border-box;
}

button.add-btn, .add-btn, .add-btn[_ngcontent-ng-c3675662402] {
  background: #633c84 !important;
  color: #fff !important;
  border: 2px solid #7b61ff !important;
}
button.add-btn:hover, .add-btn:hover, .add-btn[_ngcontent-ng-c3675662402]:hover {
  background: linear-gradient(135deg, #7b2ff2 0%, #6c47ff 100%) !important;
  color: #fff !important;
  transform: scale(1.07);
}
